{% extends '@SyliusShop/Account/layout.html.twig' %}

{% block breadcrumb %}
    <div class="ui breadcrumb">
        <a href="{{ path('sylius_shop_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a>
        <div class="divider"> / </div>
        <a href="{{ path('sylius_shop_account_dashboard') }}" class="section">{{ 'sylius.ui.my_account'|trans }}</a>
        <div class="divider"> / </div>
        <div class="active section">{{ 'mango_sylius.contactForm.title.customer.index'|trans }}</div>
    </div>
{% endblock %}

{% block subcontent %}
    <h1 class="ui header">
        {{ 'mango_sylius.contactForm.title.customer.index'|trans }}
        <div class="sub header">{{ 'mango_sylius.contactForm.ui.subtitle'|trans }}</div>
    </h1>

    {{ sylius_grid_render(resources, '@SyliusShop/Grid/_default.html.twig') }}
{% endblock %}